* { 
    box-sizing: border-box;
 }
 
 body{
     font-family: Arial, Helvetica, sans-serif;
     margin: 0%;
 }
 
 /* Style the header */
 header{
     background-color:#3A8070 ;
     padding: 30px;
     text-align: center;
     font-size: 35px;
     color:#FFFFFF;
 }
 
 nav{
     float: left;
     width: 30%;
     height: 500px;
     background: #F6F7F9;
     padding: 20px;
 }

 nav ul{
    list-style-type: none;
    padding: 0%;   
    text-align: center;
    padding: 34px;
}

ul{
    background-color: #f6f7f9;;
    text-align: center;
    margin: 0%;
}

article{
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #D9D9D9;
    height: 500px;
}

section::after{
    content: "";
     display: table;
     clear: both;
 }


 }
 .show {
     display: block;
 }
 .container {
     margin-top: 20px;
     overflow: hidden;
 }
 
  /* Style The Buttons */


  .btn:hover {
    background-color: #ddd
}

.btn.active {
  background-color: #dddee0;
   color: white;
 }

 footer{
    background-color: #3A8070;
    padding: 60px;
    text-align: center;
    color: #FFFFFF;
    }

    fieldset{
        /* display: none; */
        margin: 1em;
        padding: 1em;
        background: #ffffff;
        color: black;
    }

button{
    display: block;
    border-color: #dddee0;;
    outline: black;
    padding: 5px 10px;
    background-color:#ffffff;
    cursor: pointer;
    margin: 5px;
}

    .hide{
       /* background: pink; */
       display: none;
    } 
    